<!DOCTYPE html>
<html>
<head>
  <title>DummyApp</title>
  <%= stylesheet_link_tag :all, :tabulatr %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
