<h1>Listing products</h1>

<%= table_for @products do |t| 
  t.column :id
  t.column :title
  t.column :price
  t.association :vendor, :id, :method => :name
end.html_safe.html_safe %>


<%= link_to 'New Product', new_product_path %>
