<h1>Listing products</h1>

<%= table_for @products, 
  :paginate => true, 
  :after_table_controls => [:paginator, "Hahaha!", :info_text],
  :control_div_class_after => nil,
  # :translate => proc {|x| "`#{x}`"},  
  :batch_actions_type => :buttons,
  :select_controls => [:select_all, :select_none],
  :batch_actions => {
    :activate => "Activate",
    :deactivate => "Deactivate",
    :foo => "Foo"
  } do |t|
  t.checkbox :html => {:class => 'muff'}
  t.column :id, :filter => false, :align => :right, :header => "id"
  t.column :title, :filter => :like, :link => :product_url
  t.column :price, :align => :right, :format => :euro, #"%.2f&thinsp;&euro;",
    :filter => :range, :filter_width => '20px', :range_filter_symbol => ' bis '
  t.column :active, :filter => { 'ja' => 1, 'nein' => 0 }
  t.column :description do |record|
    record.description[0..40]
  end
  t.association :vendor, :id, :method => :name, :header => "Vendor".l,
    :filter => Vendor.all.map{|v| [v.name, v.id] }
  t.association :tags, :title, :join_symbol => ', ', :format => proc {|a| "[#{a.upcase}]" }
  t.action :header => 'Actions', :filter => false do |record|
    link_to "Edith", edit_product_url(record)
  end
end %>

<%= link_to 'New Product', new_product_path %>
